!!!  5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      #logout
        a(href='/logout', title='Logout the user from application') Logout
    #nav
    #container!= body