                    .button
  outline 0
  padding 5px 12px
  display block
  color #9fa8b0
  font-weight bold
  text-shadow 1px 1px #1f272b
  border 1px solid #1c252b
  border-radius 3px
  -moz-border-radius 3px
  -webkit-border-radius 3px
  background #232B30

.button
  background -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%)

.button
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 )")
  box-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)
  -moz-box-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)

.buttonhover
  color #fff
  background #4C5A64

.buttonhover
  background -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%)

.buttonhover
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 )")

.buttonactive
  background-position 0 top
  position relative
  top 1px
  color #fff
  padding 6px 12px 4px
  background #20282D

.buttonactive
  background -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%)

.buttonactive
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 )")
  -moz-box-shadow 1px 1px 1px rgba(255,255,255,0.1)
  -webkit-box-shadow 1px 1px 1px rgba(255,255,255,0.1)
  box-shadow 1px 1px 1px rgba(255,255,255,0.1)

.button-list
  list-style none
  padding 0
  margin 0
  width 100%
  float left
  display block

.button-list
  margin 0 0 30px

.button-list li
  float left
  margin 0 10px 0 0

.button-list li.search
  border-left 1px solid #273137
  padding-left 18px
  margin-left 10px
  position relative

.search-input
  padding 0 5px 0 22px
  border 1px solid #1c252b
  height 30px
  color #9fa8b0
  font-size 12px
  line-height 30px
  font-weight bold
  text-shadow 1px 1px #1f272b
  border-radius 25px
  -moz-border-radius 25px
  -webkit-border-radius 25px
  background #20282D

.search-input
  background -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%)

.search-input
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 )")
  -moz-box-shadow 1px 1px 1px rgba(255,255,255,0.1)
  -webkit-box-shadow 1px 1px 1px rgba(255,255,255,0.1)
  box-shadow 1px 1px 1px rgba(255,255,255,0.1)

.search-inputfocus
  outline none

.search-submit
  width 13px
  height 13px
  border none
  background url(mag-glass.png) no-repeat
  display block
  position absolute
  left 26px
  top 10px
  text-indent -9999em

.vertical-list
  list-style none
  padding 10px
  width 200px
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  background #20282D

.vertical-list
  background -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%)

.vertical-list
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 )")
  -moz-box-shadow 1px 1px 1px rgba(255,255,255,0.1)
  -webkit-box-shadow 1px 1px 1px rgba(255,255,255,0.1)
  box-shadow 1px 1px 1px rgba(255,255,255,0.1)

.vertical-list .button
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  background #515B62

.vertical-list .button
  background -moz-linear-gradient(top, #515B62 3%, #444E55 5%, #394147 100%)

.vertical-list .button
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#515B62), color-stop(5%,#444E55), color-stop(100%,#394147))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#515B62', endColorstr='#394147',GradientType=0 )")

.vertical-list .buttonhover
  background #5F6B72

.vertical-list .buttonhover
  background -moz-linear-gradient(top, #5F6B72 3%, #56646C 4%, #4D5A62 50%, #434D54 100%)

.vertical-list .buttonhover
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#5F6B72), color-stop(4%,#56646C), color-stop(50%,#4D5A62), color-stop(100%,#434D54))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#5F6B72', endColorstr='#434D54',GradientType=0 )")

.vertical-list .buttonactive
  padding 5px 12px
  top 0
  background #515B62

.vertical-list .buttonactive
  background -moz-linear-gradient(top, #515B62 3%, #444E55 5%, #394147 100%)

.vertical-list .buttonactive
  background -webkit-gradient(linear, left top, left bottom, color-stop(3%,#515B62), color-stop(5%,#444E55), color-stop(100%,#394147))
  filter unquote("progidDXImageTransform.Microsoft.gradient( startColorstr='#515B62', endColorstr='#394147',GradientType=0 )")
  -moz-box-shadow 1px 1px 1px rgba(255,255,255,0.1)

.vertical-list .buttonactive
  -moz-box-shadow 1px 1px 1px rgba(0,0,0,0.2)
  -webkit-box-shadow 1px 1px 1px rgba(0,0,0,0.2)
  box-shadow 1px 1px 1px rgba(0,0,0,0.2)

.vertical-list li
  margin 0 0 5px

.vertical-list lilast-child
  margin 0

